.container {
    padding: 5px 30px;
    display: block;
}

.inputGroup {
    padding: 0;
}

h1 {
    font:
        2rem "Fira Sans",
        sans-serif;
    margin: 0
}

h2 {
    font:
        1.5rem "Fira Sans",
        sans-serif
}

.fileManagement {
    margin-left: 80px;
}

label {
    display: block;
    font:
        1rem "Fira Sans",
        sans-serif
}
input,
label {
  margin: 0.1rem 0;
}
table {
    border-collapse: collapse;
}


.beadColor {
    border: none;
    border-color: transparent;
    max-width: 40px;
    height: 40px;
    padding: 0;
}
.section {
    padding-bottom: 20px
}

.patternBlock {
    border: 1px solid black;
    min-width: 40px;
    height: 40px;
}

.bufferBlock {
    padding: 8px;
    width:7px;
    height: 30px;
}
.offsetRow {
    padding-left: 30px;
}