.container {
    padding: 5px 30px;
    display: block;
}

.inputGroup {
    padding: 0;
}

h1 {
    font:
        2rem "Fira Sans",
        sans-serif;
    margin: 0
}

h2 {
    font:
        1.5rem "Fira Sans",
        sans-serif
}

.fileManagement {
    margin-left: 80px;
}

label {
    display: block;
    font:
        1rem "Fira Sans",
        sans-serif
}
input,
label {
  margin: 0.1rem 0;
}
table {
    border-collapse: collapse;
}


.beadColor {
    border: none;
    border-color: transparent;
    max-width: 40px;
    height: 40px;
    padding: 0;
}
.section {
    padding-bottom: 20px
}

.patternBlock {
    border: 1px solid black;
    min-width: 40px;
    height: 40px;
}

.bufferBlock {
    padding: 8px;
    width:7px;
    height: 30px;
}
.offsetRow {
    padding-left: 30px;
}

.colorBtn {
    border: none;
    background-color: transparent;
    height: 40px;
    width: 40px;
}

.vHid {
    border: 0;
    padding: 0;
    margin: 0;
    position: absolute !important;
    height: 1px; 
    width: 1px;
    overflow: hidden;
    clip: rect(1px 1px 1px 1px); /* IE6, IE7 - a 0 height clip, off to the bottom right of the visible 1px box */
    clip: rect(1px, 1px, 1px, 1px); /*maybe deprecated but we need to support legacy browsers */
    clip-path: inset(50%); /*modern browsers, clip-path works inwards from each corner*/
    white-space: nowrap; /* added line to stop words getting smushed together (as they go onto seperate lines and some screen readers do not understand line feeds as a space */
}